<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to PairWise!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}" />
    </head>
    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('mainpage') }}">Pairwise</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">

                            {% if app.request.get('_route') == 'mainpage' %}
                                <li class="active"><a href="{{ path('mainpage') }}">Home</a></li>
                            {% else %}
                                <li><a href="{{ path('mainpage') }}">Home</a></li>
                            {% endif %}

                            {% if app.request.get('_route') == 'createuser' %}
                                <li class="active"><a href="{{ path('createuser') }}">Create User</a></li>
                            {% else %}
                                <li><a href="{{ path('createuser') }}">Create User</a></li>
                            {% endif %}

                            <li><a href="#contact">Add Bill</a></li>
                            <li><a href="#contact">Show Bills</a></li>
                            <li><a href="#contact">Show Invoices</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown">
                                <a href="#" id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>Username<i class="icon-sort-down"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            {% block body %}{% endblock %}

        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted credit">This is a small Project: <a href="http://localhost:8000/">Pairwise Home</a> - all bugs are on purpose.</p>
            </div>
        </div>



        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>






