{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Welcome to Pairwise!</h1>
        </div>
        <h3>Here you can split bills between two parties.</h3>
        <br>
        Please select a User:
        <br>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.users) }}:
            {{ form_widget(form.users) }}
            {{ form_widget(form.select) }}
        </div>
        {{ form_end(form) }}

        <br>
        <br>

        {% if usersession != null %}
            Infos about the selected User:<br>
            UserID: {{ usersession.id }}<br>
            Username: {{ usersession.username }}<br>
            Description: {{ usersession.description }}<br>
            <br>
            Partner 1: {{ usersession.partnerone.partnername }} <{{ usersession.partnerone.id }}><br>
            Partner 2: {{ usersession.partnertwo.partnername }} <{{ usersession.partnertwo.id }}><br>
        {% else %}
            Please Select a User to display Infos!
        {% endif %}

    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
