{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Create a new User!</h1>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="user">
            {{ form_label(form.username) }}:
            {{ form_widget(form.username) }}
            <br>
            {{ form_label(form.description) }}:
            {{ form_widget(form.description) }}
        </div>

        <br>

        <div class="partner1">
            {{ form_label(form.partnerone.partnername) }}:
            {{ form_widget(form.partnerone.partnername) }}
        </div>

        <div class="partner2">
            {{ form_label(form.partnertwo.partnername) }}:
            {{ form_widget(form.partnertwo.partnername) }}
        </div>

        <br>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}